---
apiVersion: v1
kind: Namespace
metadata:
  labels:
{% if item.monitoring | default(False) %}
    openshift.io/cluster-monitoring: "true"
{% endif %}
{% if item.privileged | default(False) %}
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
{% endif %}
  name: {{ item.ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ item.operator_group | default('{}-operatorgroup'.format(item.operator_name)) }}
  namespace: {{ item.ns }}
spec:
  targetNamespaces:
    - {{ item.ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ item.subscription_name | default(item.operator_name) }}
  namespace: {{ item.ns }}
spec:
{% if item.channel | default('') != '' %}
  channel: "{{ item.channel }}"
{% endif %}
  name: {{ item.operator_name }}
  installPlanApproval: Automatic
  source: {{ item.source }}
  sourceNamespace: {{ item.source_ns | default('openshift-marketplace') }}
