---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.ns }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ item.name }}-installer
  namespace: {{ item.ns }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ item.name }}-installer-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: {{ item.name }}-installer
  namespace: {{ item.ns }}
---
apiVersion: olm.operatorframework.io/v1
kind: ClusterExtension
metadata:
  name: {{ item.name }}
spec:
  namespace: {{ item.ns }}
  serviceAccount:
    name: {{ item.name }}-installer
  source:
    sourceType: Catalog
    catalog:
      packageName: {{ item.name }}
      version: {{ item.version }}
