---
apiVersion: addons.cluster.x-k8s.io/v1beta1
kind: ClusterResourceSet
metadata:
  name: nutanix-csi-crs
  namespace: {{ item.namespace | default('default') }}
spec:
  clusterSelector:
    matchLabels:
      ccm: nutanix
  resources:
    - kind: ConfigMap
      name: nutanix-csi
    - kind: Secret
      name: nutanix-csi-secret
  strategy: ApplyOnce
---
apiVersion: v1
kind: Secret
metadata:
  name: nutanix-csi-secret
  namespace: {{ item.namespace | default('default') }}
stringData:
  nutanix-csi-secret.yaml: |
    apiVersion: v1
    kind: Secret
    metadata:
        name: {{ nutanix_csi_pc_secret_name | default('ntnx-pc-secret') }}
        namespace: {{ nutanix_csi_namespace }}
    stringData:
        key: {{ nutanix_prism_central }}:9440:{{ nutanix_user }}:{{ nutanix_password }}
    ---
    apiVersion: v1
    kind: Secret
    metadata:
        name: {{ nutanix_csi_secret_name | default('ntnx-secret') }}
        namespace: {{ nutanix_csi_namespace }}
    data:
        key: {{ '{}:9440:{}:{}'.format(nutanix_prism_element, nutanix_user, nutanix_password) | b64encode }}
type: addons.cluster.x-k8s.io/resource-set
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nutanix-csi
  namespace: {{ item.namespace | default('default') }}
data:
  nutanix-csi.yaml: |
    ---
    apiVersion: v1
    kind: Namespace
    metadata:
        name: {{ nutanix_csi_namespace }}
    ---
    apiVersion: operators.coreos.com/v1alpha1
    kind: CatalogSource
    metadata:
        name: nutanix-csi-operator-beta
        namespace: openshift-marketplace
    spec:
        displayName: Nutanix Beta
        publisher: Nutanix-dev
        sourceType: grpc
        image: quay.io/ntnx-csi/nutanix-csi-operator-catalog:latest
        updateStrategy:
            registryPoll:
                interval: 5m
