{{ ansible_managed | comment }}

bind-dynamic
except-interface=podman*,vnet*
no-resolv
no-hosts
strict-order
no-negcache
cache-size=250
max-cache-ttl=300

server=10.0.0.2
server=1.1.1.1

{% for cluster in capi_clusters %}
host-record=api-int.{{ cluster.name }}.{{ cluster.domain }},{{ cluster.api_vip }}
host-record=api.{{ cluster.name }}.{{ cluster.domain }},{{ cluster.api_vip }}
address=/.apps.{{ cluster.name }}.{{ cluster.domain }}/{{ cluster.ingress_vip }}

{% endfor %}
host-record=assisted-service.assisted-installer.com,{{ ansible_default_ipv4.address }}
host-record=assisted-image.assisted-installer.com,{{ ansible_default_ipv4.address }}
{% for cluster in kind_clusters %}
{% if 'assisted_svc_hostname' in cluster.keys() %}
host-record={{ cluster.assisted_svc_hostname }},{{ ansible_default_ipv4.address }}
{% endif %}
{% if 'image_svc_hostname' in cluster.keys() %}
host-record={{ cluster.image_svc_hostname }},{{ ansible_default_ipv4.address }}
{% endif %}
{% endfor %}
