<network>
  <name>{{ item.name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ item.name }}' stp='on' delay='0'/>
  <mtu size='{{ item.mtu | default(1500) }}'/>
  <mac address='{{ item.mac }}'/>
  <domain name='{{ item.domain }}' localOnly='{{ if item.dns | default(true) 'yes' else 'no' }}'/>
  <dns enable='{{ if item.dns | default(true) 'yes' else 'no' }}'/>
  <ip family='ipv4' address='{{ item.ip.split('/')[0] }}' prefix='{{ item.ip.split('/')[1] }}'>
{% if item.dhcp | default(true) %}
    <dhcp>
      <range start='{{ item.network_base }}.2' end='{{ item.network_base }}.254'/>
    </dhcp>
{% endif %}
  </ip>
</network>
