---
extends: default

rules:
  line-length:
    max: 260
    level: warning
  truthy:
    level: error
    allowed-values:
      - 'yes'
      - 'no'
      - 'true'
      - 'false'
      - 'True'
      - 'False'
