---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    openshift.io/cluster-monitoring: "true"
  name: {{ ocp_mce_ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: multicluster-engine-operatorgroup
  namespace: {{ ocp_mce_ns }}
spec:
  targetNamespaces:
    - {{ ocp_mce_ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: multicluster-engine
  namespace: {{ ocp_mce_ns }}
spec:
{% if ocp_mce_channel != '' %}
  channel: "{{ ocp_mce_channel }}"
{% endif %}
  name: multicluster-engine
  source: {{ ocp_mce_source }}
  sourceNamespace: openshift-marketplace
  installPlanApproval: Automatic
