---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: '{{ cluster_name }}'
  labels:
    cloud: '{{ cloud | default('auto-detect') }}'
    vendor: '{{ vendor | default('auto-detect') }}'
{% if cluster_set is defined %}
    cluster.open-cluster-management.io/clusterset: {{ cluster_set }}
{% endif %}
{% if cluster_labels is defined %}
{% for key, value in cluster_labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
spec:
  hubAcceptsClient: true
