---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: '{{ cluster_name }}'
  labels:
    cloud: '{{ cloud | default('auto-detect') }}'
    vendor: '{{ vendor | default('auto-detect') }}'
spec:
  hubAcceptsClient: true
