---
dns_upstream: '1.1.1.1'
dns_external:
  - {address: "{{ dns_upstream }}"}
  - {base: 'registry.access.redhat.com', address: "{{ dns_upstream }}"}
  - {base: 'access.redhat.com', address: "{{ dns_upstream }}"}

dnsmasq_conf_dirs:
  - {path: '/etc/dnsmasq.d', exclude: ['.rpmnew', '.rpmsave', '.rpmorig']}
dnsmasq_conf_snippets:
  - {src: 'dnsmasq-networks.conf.j2', dest: 'networks.conf'}
  - {src: 'dhcp-hosts.conf.j2', dest: 'dhcp-hosts.conf'}
dnsmasq_dhcp_authoritative: true
dnsmasq_enable_ra: true
dnsmasq_except_interfaces: ['eno3', 'cni-podman*', 'vnet*']
dnsmasq_log_dhcp: true
dnsmasq_no_resolv: true
dnsmasq_resolvconf_domains: "{{ beaker_domains }}"
dnsmasq_resolvconf_options: ['edns0', 'trust-ad']
dnsmasq_local_domains: ['local.lab']
dnsmasq_servers: "{{ dns_external + beaker_dns_servers }}"

lab_host_squid_networks:
  - 'fd00:0:0:1::/64'
# haproxy_snippets:
#  - 'haproxy/assisted-service.j2'
lab_host_ocp_versions:
  - {version: '4.21.0-rc.2', state: 'absent'}
  - {version: '4.20.8', state: 'present'}
  - {version: '4.19.21', state: 'present'}
...
