---
dns_upstream: '1.1.1.1'
dns_external:
  - {address: "{{ dns_upstream }}"}
  - {base: 'registry.access.redhat.com', address: "{{ dns_upstream }}"}
  - {base: 'access.redhat.com', address: "{{ dns_upstream }}"}

dnsmasq_conf_dirs:
  - {path: '/etc/dnsmasq.d', exclude: ['.rpmnew', '.rpmsave', '.rpmorig']}
dnsmasq_conf_snippets:
  - {src: 'dnsmasq-networks.conf.j2', dest: 'networks.conf'}
  - {src: 'dhcp-hosts.conf.j2', dest: 'dhcp-hosts.conf'}
dnsmasq_dhcp_authoritative: true
dnsmasq_dhcp_hosts:
  - {hwaddr: '52:54:00:9c:93:36', hostname: 'pinnedis-registry', ipaddr: '192.168.129.200'}
  - {hwaddr: '52:54:00:38:8d:f9', hostname: 'ostree-node-1', ipaddr: '192.168.125.254'}
  - {hwaddr: '52:54:00:9e:95:23', hostname: 'javed-rhel9', ipaddr: '192.168.125.149'}
dnsmasq_enable_ra: true
dnsmasq_except_interfaces: ['eno3', 'cni-podman*', 'vnet*']
dnsmasq_log_dhcp: true
dnsmasq_no_resolv: true
dnsmasq_resolvconf_domains: "{{ beaker_domains }}"
dnsmasq_resolvconf_options: ['edns0', 'trust-ad']
dnsmasq_local_domains: ['local.lab']
dnsmasq_servers: "{{ dns_external + beaker_dns_servers }}"
haproxy_labs:
  - {'name': 'appliance', 'domain': 'lab', 'backends': ['192.168.127.6']}
  # - {'name': 'dan', 'domain': 'manor.lab', 'backends': ['192.168.128.11']}
  - {'name': 'stdslim', 'backends': ['192.168.125.59']}
  # - name: 'cnv'
  #   backends: ['[fd00:0:0:1::11]']
  #   api: True
  #   api_ips: ['[fd00:0:0:1::10]']
lab_host_squid_networks:
  - 'fd00:0:0:1::/64'
lab_host_networks:
  - name: 'lab-network'
    cidr: '192.168.125.0/24'
    gw: '192.168.125.1'
    dhcp_range: '192.168.125.120,192.168.125.250'
  - name: 'appliance-network'
    cidr: '192.168.127.0/24'
    domain: 'appliance.appliance.lab'
    dhcp_lease: '10m'
    dhcp_range: '192.168.127.100,192.168.127.250'
    gw: '192.168.127.1'
  - name: 'dan-network'
    cidr: '192.168.128.0/24'
  - name: 'pinnedis-network'
    cidr: '192.168.129.0/24'
    domain: 'pinnedis.local.lab'
    gw: '192.168.129.1'
    dhcp_range: '192.168.129.100,192.168.129.250'
  - name: 'assisted-net'
    cidr: '192.168.130.0/24'
    gw: '192.168.130.1'
  - name: 'ovishlit-net'
    cidr: '192.168.131.0/24'
    gw: '192.168.131.1'
    dhcp_range: '192.168.131.150,192.168.131.250'
# - name: 'cnv-network'
#   cidr: 'fd00:0:0:1::/64'
#   domain: 'cnv.local.lab'
#   dhcp_range: '::300,::fff'
#   dns: '[fd00:0:0:1::1]'
#   iface: 'cnv-ipv6'
#   ipv6: true
#   ntp: '[::1]'
# haproxy_snippets:
#  - 'haproxy/assisted-service.j2'
lab_host_ocp_versions:
  - {version: '4.18.16', state: 'present'}
  - {version: '4.17.32', state: 'present'}
  - {version: '4.16.40', state: 'present'}
...
