---
# Installs ACM on an existing Openshift cluster
- name: 'Install Advanced Cluster Management (ACM)'
  hosts:
    - 'lab'

  gather_facts: false

  vars:
    lab_configs: "/root/labs/{{ lab_name }}/config"
    lab_network_name: 'lab-network'
    lab_install: true
    lab_mac_base: 'be:be:ca:fe:02:'
    lab_node_network: '192.168.125.'
    ocp_assisted_service_op: 'acm'
    ocp_assisted_service_infraenvs: []

  environment:
    KUBECONFIG: "/root/labs/{{ lab_name }}/deploy/auth/kubeconfig"

  roles:
    - 'ocp_assisted_service'
