---
# Installs MCE and configures assisted-service on a existing cluster
# In this scenario we expect that control plane is installed and master have an
#   additional disk (40 GB) for assisted-service (LVMS)
- name: 'Install MultiCluster Engine (MCE)'
  hosts:
    - 'lab'

  gather_facts: false

  vars:
    lab_configs: "/root/labs/{{ lab_name }}/config"
    lab_network_name: 'lab-network'
    lab_install: true
    lab_mac_base: 'be:be:ca:fe:02:'
    lab_node_network_base: '192.168.125.'
    ocp_assisted_service_infraenvs: []

  environment:
    KUBECONFIG: "/root/labs/{{ lab_name }}/deploy/auth/kubeconfig"

  roles:
    - 'ocp_assisted_service'
