---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    openshift.io/cluster-monitoring: "true"
  name: {{ item.ns | default(ocp_quay_ns) }}
---
apiVersion: quay.redhat.com/v1
kind: QuayRegistry
metadata:
  name: {{ item.name }}
  namespace: {{ item.ns | default(ocp_quay_ns) }}
