---
apiVersion: v1
kind: Namespace
metadata:
  labels:
    openshift.io/cluster-monitoring: "true"
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
  name: {{ ocp_localstorage_ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: localstorage-operator-group
  namespace: {{ ocp_localstorage_ns }}
spec:
  targetNamespaces:
  - {{ ocp_localstorage_ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: local-storage-operator
  namespace: {{ ocp_localstorage_ns }}
spec:
{% if ocp_localstorage_subscription_channel != '' %}
  channel: "{{ ocp_localstorage_subscription_channel }}"
{% endif %}
  installPlanApproval: Automatic
  name: local-storage-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
