apiVersion: local.storage.openshift.io/v1
kind: LocalVolume
metadata:
  name: {{ item.name }}
  namespace: {{ ocp_localstorage_ns }}
spec:
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
        - key: {{ item.node_label }}
          operator: Exists
  storageClassDevices:
{% for sc in item.storage_classes %}
    - storageClassName: {{ sc.name }}
      volumeMode: {{ sc.type | default('Block') }}
      devicePaths:
{% for device in sc.devices %}
        - {{ device }}
{% endfor %}
{% endfor %}
