---
apiVersion: metallb.io/v1beta1
kind: MetalLB
metadata:
  name: metallb
  namespace: openshift-operators
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ ocp_metallb_pool_name }}
  namespace: openshift-operators
spec:
  autoAssign: true
  addresses:
    - {{ ocp_metallb_pool_ips }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: advertise-{{ ocp_metallb_pool_name }}
  namespace: openshift-operators
spec:
  ipAddressPools:
  - {{ ocp_metallb_pool_name }}
