apiVersion: v1
kind: Namespace
metadata:
  labels:
    openshift.io/cluster-monitoring: "true"
  name: {{ ocp_odf_ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp_odf_ns }}-operatorgroup
  namespace: {{ ocp_odf_ns }}
spec:
  targetNamespaces:
    - {{ ocp_odf_ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: odf-operator
  namespace: {{ ocp_odf_ns }}
spec:
{% if ocp_odf_subscription_channel != '' %}
  channel: "{{ ocp_odf_subscription_channel }}"
{% endif %}
  installPlanApproval: Automatic
  name: odf-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
