apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  name: {{ item.name }}
  namespace: {{ ocp_odf_ns }}
spec:
{% if not item.managed_nodes | default(true) %}
  manageNodes: false
{% endif %}
{% if item.default_virtualization_sc | default(false) %}
  managedResources:
    cephBlockPools:
      defaultVirtualizationStorageClass: true
{% endif %}
  resourceProfile: {{ item.resource_profile | default('balanced') }}
{% if item.mds_limits | default(false) %}
  resources:
    mds:
      limits:
        cpu: "{{ item.mds_cpu | default(3) }}"
        memory: "{{ item.mds_memory | default('8Gi') }}"
      requests:
        cpu: "{{ item.mds_cpu | default(3) }}"
        memory: "{{ item.mds_memory | default('8Gi') }}"
{% endif %}
{% if item.mon_data_path is defined %}
  monDataDirHostPath: {{ item.mon_data_path | default('/var/lib/rook') }}
{% endif %}
  storageDeviceSets:
{% for ds in item.devicesets %}
    - count: {{ ds.count | default(1) }}
      config: {}
      dataPVCTemplate:
        metadata: {}
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: "{{ ds.storage | default('512Gi') }}"
          storageClassName: {{ ds.storageclass }}
          volumeMode: Block
        status: {}
      name: {{ ds.name }}
      placement: {}
      portable: {{ ds.portable | default(true) }}
      preparePlacement: {}
      replica: {{ ds.replica | default(3) }}
{% if 'resources' in ds.keys() %}
      resources:
        limits:
          cpu: "{{ ds.resources.cpu }}"
          memory: "{{ ds.resources.memory }}"
        requests:
          cpu: "{{ ds.resources.cpu }}"
          memory: "{{ ds.resources.memory }}"
{% else %}
      resources: {}
{% endif %}
{% endfor %}
