{{ ansible_managed | comment }}

# {{ lab_name }} lab
host-record=api-int.{{ lab_name }}.{{ lab_domain }},{{ lab_api_ips[0] }}
host-record=api.{{ lab_name }}.{{ lab_domain }},{{ lab_api_ips[0] }}
address=/apps.{{ lab_name }}.{{ lab_domain }}/{{ lab_ingress_ips[0] }}

{% for host in lab_hosts %}
{% set macaddr = host.mac | default('{}{}'.format(lab_mac_base, host.id)) %}
{% set ipauto = namespace(addr='') %}
{% if ':' in lab_node_network_base %}
{% set ipauto.addr = '[::{}]'.format(host.id) %}
{% else %}
{% set ipauto.addr = '{}{}'.format(lab_node_network_base, host.id) %}
{% endif %}
{% set ipaddr = host.ip | default(ipauto.addr) %}
dhcp-host={{ macaddr }},{{ lab_name }}-{{ host.role | default('master') }}-{{ loop.index }},{{ ipaddr }}
{% endfor %}
{% if lab_bootstrap_ip != '' %}
dhcp-host={{ lab_bootstrap_mac }},{{ lab_name }}-bootstrap,{{ lab_bootstrap_ip }}
{% endif %}
