---
apiVersion: v1
metadata:
  name: {{ lab_name }}
baseDomain: {{ lab_domain }}
networking:
  networkType: {{ lab_network_type }}
  machineNetwork:
    - cidr: {{ lab_node_network }}
  clusterNetwork:
    - cidr: {{ lab_cluster_network }}
      hostPrefix: {{ lab_cluster_network_prefix | default('23') }}
  serviceNetwork:
    - {{ lab_service_network }}
{% if lab_proxy_http != '' %}
additionalTrustBundlePolicy: Proxyonly
proxy:
  httpProxy: {{ lab_proxy_http | default('') }}
  httpsProxy: {{ lab_proxy_https | default(lab_proxy_http) }}
  noProxy: {{ lab_proxy_exceptions | join(',') }}
{% endif %}
{% if lab_fips %}
fips: true
{% endif %}
compute:
  - name: worker
    architecture: amd64
    hyperthreading: Enabled
    replicas: {{ lab_worker_replicas }}
controlPlane:
  name: master
  architecture: amd64
  hyperthreading: Enabled
  replicas: {{ lab_master_replicas }}
platform:
{% if lab_platform == 'baremetal' %}
  baremetal:
    apiVIPs: {{ lab_api_ips }}
    ingressVIPs: {{ lab_ingress_ips }}
{% if not lab_appliance %}
    externalMACAddress: {{ lab_bootstrap_mac }}
{% endif %}
    provisioningNetwork: Disabled
{% if not lab_abi %}
    externalBridge: "{{ lab_external_bridge | default(lab_network_name) }}"
{% if lab_hosts | length > 0 %}
    hosts:
{% for host in lab_hosts %}
      - name: {{ lab_name }}-{{ host.role | default(lab_node_role) }}-{{ loop.index }}
        role: {{ host.role | default(lab_node_role) }}
        bmc:
          address: redfish-virtualmedia://{{ lab_redfish_ip }}:9000/redfish/v1/Systems/local/{{ lab_name }}-{{ host.role | default(lab_node_role) }}-{{ loop.index }}
          username: ADMIN
          password: ADMIN
          disableCertificateVerification: True
        bootMACAddress: {{ host.mac | default('{}{}'.format(lab_mac_base, host.id)) }}
        rootDeviceHints:
          deviceName: "{{ host.disk | default('/dev/vda') }}"
{% endfor %}
{% endif %}
{% endif %}
{% else %}
  none: {}
{% endif %}
pullSecret: '{{ lab_pull_secret_install | default(lab_pull_secret) }}'
sshKey: '{{ lab_ssh_pubkey }}'
