{{ ansible_managed | comment }}

server 0.europe.pool.ntp.org iburst
driftfile /var/lib/chrony/drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony
ntsdumpdir /var/lib/chrony
bindcmdaddress ::
{% for network in lab_host_networks %}
allow {{ network.cidr }}
{% endfor %}
{% if ansible_distribution_major_version == '9' %}

# Use NTP servers from DHCP.
sourcedir /run/chrony-dhcp
{% endif %}
