---
apiVersion: v1
kind: ConfigMap
metadata:
  name: extra-manifests
  namespace: {{ item.ns }}
data:
  99_workload_partitioning.yaml: |
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 02-master-workload-partitioning
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
          - contents:
              source: data:text/plain;charset=utf-8;base64,W2NyaW8ucnVudGltZS53b3JrbG9hZHMubWFuYWdlbWVudF0KYWN0aXZhdGlvbl9hbm5vdGF0aW9uID0gInRhcmdldC53b3JrbG9hZC5vcGVuc2hpZnQuaW8vbWFuYWdlbWVudCIKYW5ub3RhdGlvbl9wcmVmaXggPSAicmVzb3VyY2VzLndvcmtsb2FkLm9wZW5zaGlmdC5pbyIKcmVzb3VyY2VzID0geyAiY3B1c2hhcmVzIiA9IDAsICJjcHVzZXQiID0gIjAtNyIgfQo=
            mode: 420
            overwrite: true
            path: /etc/crio/crio.conf.d/01-workload-partitioning
            user:
              name: root
          - contents:
              source: data:text/plain;charset=utf-8;base64,ewogICJtYW5hZ2VtZW50IjogewogICAgImNwdXNldCI6ICIwLTciCiAgfQp9Cg==
            mode: 420
            overwrite: true
            path: /etc/kubernetes/openshift-workload-pinning
            user:
              name: root
---
apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: {{ item.name }}
  namespace: {{ item.ns }}
spec:
  manifestsConfigMapRef:
    name: extra-manifests
  clusterDeploymentRef:
    name: {{ item.name }}
  imageSetRef:
    name: {{ item.image }}
{% if 'registry' in item.keys() %}
  mirrorRegistryRef:
    name: {{ item.registry }}
    namespace: {{ item.ns }}
{% endif %}
  networking:
    networkType: "{{ item.network_type | default('OVNKubernetes') }}"
    clusterNetwork:
      - cidr: "{{ item.cluster_network | default('10.128.0.0/14') }}"
        hostPrefix: 23
    serviceNetwork:
      - "{{ item.service_network | default('172.30.0.0/16') }}"
    machineNetwork:
      - cidr: "{{ item.host_network }}"
  provisionRequirements:
    controlPlaneAgents: {{ item.masters }}
{% if item.workers | default(0) > 0 %}
    workerAgents: {{ item.workers }}
{% endif %}
  sshPublicKey: '{{ item.ssh_key | default(ocp_hive_ssh_key) }}'
---
apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ item.name }}
  namespace: {{ item.ns }}
  annotations:
    hive.openshift.io/try-install-once: "true"
spec:
  baseDomain: {{ item.domain }}
  clusterName: {{ item.name }}
  controlPlaneConfig:
    servingCertificates: {}
  clusterInstallRef:
    group: extensions.hive.openshift.io
    kind: AgentClusterInstall
    name: {{ item.name }}
    version: v1beta1
  platform:
    agentBareMetal:
      agentSelector:
        matchLabels:
          cluster-name: "{{ item.name }}"
  pullSecretRef:
    name: pullsecret-cluster-{{ item.name }}
