{{ ansible_managed | comment }}

# {{ ocp_hive_lab_name }} - {{ item.name }} cluster services

host-record=api-int.{{ item.name }}.{{ item.domain }},{{ item.api_vips[0] }}
host-record=api.{{ item.name }}.{{ item.domain }},{{ item.api_vips[0] }}
address=/apps.{{ item.name }}.{{ item.domain }}/{{ item.ingress_vips[0] | default(item.api_vips[0]) }}
