---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ ocp_mcgh_ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp_mcgh_ns }}-operatorgroup
  namespace: {{ ocp_mcgh_ns }}
spec:
  targetNamespaces:
    - {{ ocp_mcgh_ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: multicluster-global-hub-operator-rh
{% if ocp_mcgh_ns != '' %}
  namespace: {{ ocp_mcgh_ns }}
{% endif %}
spec:
{% if ocp_mcgh_subscription_channel != '' %}
  channel: "{{ ocp_mcgh_subscription_channel }}"
{% endif %}
  installPlanApproval: Automatic
  name: multicluster-global-hub-operator-rh
  source: {{ ocp_mcgh_subscription_source }}
  sourceNamespace: openshift-marketplace
{% if ocp_mcgh_subscription_version !='' %}
  startingCSV: mcgh-operator.v{{ ocp_mcgh_subscription_version }}
{% endif %}
