---
apiVersion: v1
kind: Secret
metadata:
  name: pull-secret-mcgh
  namespace: {{ ocp_mcgh_ns }}
{{ 'stringD' if '{' in lab_pull_secret else 'd' }}ata:
  .dockerconfigjson: '{{ lab_pull_secret }}'
type: kubernetes.io/dockerconfigjson
---
apiVersion: operator.open-cluster-management.io/v1alpha4
kind: MulticlusterGlobalHub
metadata:
  name: multiclusterglobalhub
  namespace: {{ ocp_mcgh_ns }}
spec:
  availabilityConfig: {{ ocp_mcgh_availability }}
  dataLayer:
    postgres:
      retention: {{ ocp_mcgh_retention }}
  enableMetrics: {{ ocp_mcgh_metrics }}
  imagePullPolicy: {{ ocp_mcgh_pull_policy }}
  imagePullSecret: pull-secret-mcgh
