---
apiVersion: operator.open-cluster-management.io/v1alpha4
kind: MulticlusterGlobalHub
metadata:
  name: multiclusterglobalhub
  namespace: {{ ocp_mcgh_ns }}
spec:
  availabilityConfig: {{ ocp_mcgh_availability }}
  dataLayer:
    postgres:
      retention: {{ ocp_mcgh_retention }}
  enableMetrics: {{ ocp_mcgh_metrics }}
  imagePullPolicy: {{ ocp_mcgh_pull_policy }}
  imagePullSecret: pull-secret-mcgh
