---
- name: 'Import OS version variables'
  ansible.builtin.include_vars: "{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yaml"
  tags:
    - always

- name: 'Setup software repositories'
  ansible.builtin.yum_repository:
    name: "{{ item.name }}"
    baseurl: "{{ item.baseurl }}"
    description: "{{ item.description | default(item.name) }}"
    enabled: "{{ item.enabled | default(true) | bool }}"
    gpgcheck: "{{ item.gpgcheck | default(false) }}"
    skip_if_unavailable: "{{ not (item.skip_if_unavailable | default(false) | bool) }}"
    state: 'present'
  loop: "{{ lab_host_repos }}"
  tags:
    - 'dnf'
    - 'packages'
    - 'yum'

- name: 'Install required packages'
  ansible.builtin.package:
    name: "{{ lab_host_packages }}"
    state: 'present'
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - 'dnf'
    - 'packages'
    - 'yum'

- name: 'Install python packages'
  ansible.builtin.pip:
    name: "{{ lab_host_pip_packages }}"
    state: 'present'
  ignore_errors: "{{ ansible_check_mode }}"
  tags:
    - 'pip'
    - 'python'
    - 'packages'

- name: 'Copy script utils'
  ansible.builtin.copy:
    src: "scripts/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: 'root'
    group: 'root'
    mode: '0755'
  loop: "{{ lab_host_scripts }}"
  tags:
    - 'scripts'
    - 'packages'

- name: 'Disable firewalld service'
  ansible.builtin.service:
    name: 'firewalld'
    enabled: false
    state: 'stopped'
  notify:
    - 'flush iptables'
    - 'svc restart libvirtd'

- name: 'Configure software'
  ansible.builtin.import_tasks: 'configure.yaml'

- name: 'Install kcli'
  ansible.builtin.import_tasks: 'kcli.yaml'
  tags: ['kcli']

- name: 'Install helm'
  ansible.builtin.import_tasks: 'helm.yaml'
  tags: ['helm']

- name: 'Install kustomize'
  ansible.builtin.import_tasks: 'kustomize.yaml'
  tags: ['kustomize']

- name: 'Install openshift tools'
  ansible.builtin.include_tasks: 'oc.yaml'
  loop: "{{ lab_host_ocp_versions }}"
