apiVersion: v1
kind: Namespace
metadata:
  name: {{ ocp_cnv_ns }}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: kubevirt-hyperconverged-group
  namespace: {{ ocp_cnv_ns }}
spec:
  targetNamespaces:
    - {{ ocp_cnv_ns }}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: hco-operatorhub
  namespace: {{ ocp_cnv_ns }}
spec:
{% if ocp_cnv_subscription_channel != '' %}
  channel: "{{ ocp_cnv_subscription_channel }}"
{% endif %}
  installPlanApproval: Automatic
  name: kubevirt-hyperconverged
  source: redhat-operators
  sourceNamespace: openshift-marketplace
  startingCSV: kubevirt-hyperconverged-operator.v{{ ocp_cnv_version }}
