{{ ansible_managed | comment }}

# {{ ocp_hcp_lab_name }} - {{ item.name }} hypershift cluster services

host-record=api-int.{{ item.name }}.{{ item.domain }},{{ item.lb }}
host-record=api.{{ item.name }}.{{ item.domain }},{{ item.lb }}
address=/apps.{{ item.name }}.{{ item.domain }}/{{ item.lb }}
