{{ ansible_managed | comment }}

# {{ lab_name }} baremetal hosts

{% for host in item.inventory %}
{% set macaddr = host.mac | default('{}{}'.format(lab_mac_base, host.id)) %}
{% set ipaddr = host.ip | default('{}.{}'.format(lab_node_network, host.id)) %}
{% set hostname = host.name | default('{}-worker-{}'.format(lab_name, loop.index)) %}
dhcp-host={{ macaddr }},{{ hostname }},{{ ipaddr }}
{% endfor %}
