{% for bmh in item.inventory %}
{% set hostname = bmh.name | default('{}-worker-{}'.format(ocp_baremetal_lab_name, loop.index)) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ hostname }}-bmc-secret
  namespace: {{ item.ns }}
data:
  password: YWRtaW4=
  username: YWRtaW4=
type: Opaque
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ hostname }}
  namespace: {{ item.ns }}
  labels:
    infraenvs.agent-install.openshift.io: {{ item.name }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: {{ hostname }}
{% if 'role' in bmh.keys() %}
    bmac.agent-install.openshift.io/role: "{{ bmh.role }}"
{% endif %}
spec:
  automatedCleaningMode: disabled
  bootMACAddress: {{ bmh.mac }}
  online: true
  rootDeviceHints:
    deviceName: {{ host.device | default('/dev/vda') }}
  bmc:
    disableCertificateVerification: True
    address: redfish-virtualmedia://{{ item.redfish }}:9000/redfish/v1/Systems/local/{{ hostname }}
    credentialsName: {{ hostname }}-bmc-secret
{% endfor %}
