{% for bmh in infra.inventory %}
{% set hostname = bmh.name | default('{}-worker-{}'.format(lab_name, loop.index)) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ hostname }}-bmc-secret
  namespace: {{ infra.ns }}
data:
  password: YWRtaW4=
  username: YWRtaW4=
type: Opaque
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: {{ hostname }}
  namespace: {{ infra.ns }}
  labels:
    infraenvs.agent-install.openshift.io: {{ infra.name }}
  annotations:
    inspect.metal3.io: disabled
    bmac.agent-install.openshift.io/hostname: {{ hostname }}
{% if 'role' in bmh.keys() %}
    bmac.agent-install.openshift.io/role: "{{ bmh.role }}"
{% endif %}
spec:
  automatedCleaningMode: {{ 'enabled' if bmh.cleaning | default(false) else 'disabled' }}
  bootMACAddress: {{ bmh.mac | default('{}{}'.format(lab_mac_base, bmh.id)) }}
  online: true
  rootDeviceHints:
    deviceName: {{ bmh.device | default('/dev/vda') }}
  bmc:
    disableCertificateVerification: True
    address: redfish-virtualmedia://{{ infra.redfish }}:9000/redfish/v1/Systems/local/{{ hostname }}
    credentialsName: {{ hostname }}-bmc-secret
{% endfor %}
