---
apiVersion: v1
kind: ConfigMap
metadata:
  name: assisted-service-config
  namespace: {{ ocp_assisted_service_ns }}
data:
{% for option, value in ocp_assisted_service_config.items() %}
  {{ option | upper }}: {{ value }}
{% endfor %}
{% if ocp_assisted_service_registries | length > 0 %}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: assisted-installer-mirror-config
  namespace: {{ ocp_assisted_service_ns }}
  labels:
    app: assisted-service
data:
  ca-bundle.crt: |
{{ ocp_assisted_service_ca_bundle | indent(width=4, first=True) }}
  registries.conf: |
    unqualified-search-registries = ["registry.access.redhat.com", "docker.io"]
    short-name-mode = ""
{% for registry in ocp_assisted_service_registries %}

    [[registry]]
      prefix = ""
      location = "{{ registry.location }}"

        [[registry.mirror]]
          location = "{{ registry.mirror }}"
          pull-from-mirror = "digest-only"
{% endfor %}
{% endif %}
---
apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
  namespace: {{ ocp_assisted_service_ns }}
  name: agent
  annotations:
    unsupported.agent-install.openshift.io/assisted-service-configmap: assisted-service-config
spec:
  databaseStorage:
    storageClassName: {{ ocp_assisted_service_sc_name }}
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ ocp_assisted_service_storage_db_size }}Gi
  filesystemStorage:
    storageClassName: {{ ocp_assisted_service_sc_name }}
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ ocp_assisted_service_storage_fs_size }}Gi
  imageStorage:
    storageClassName: {{ ocp_assisted_service_sc_name }}
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ ocp_assisted_service_storage_image_size }}Gi
{% if ocp_assisted_service_registries | length > 0 %}
  mirrorRegistryRef:
    name: assisted-installer-mirror-config
{% endif %}
  osImages:
{% for image in ocp_assisted_service_images %}
{% set version_major = '.'.join(image.ocp_version.split('.')[0:2]) %}
    - openshiftVersion: "{{ version_major }}"
{% if not 'url' in image.keys() %}
      url: "https://mirror.openshift.com/pub/openshift-v4/{{ image.arch }}/dependencies/rhcos/{{ version_major }}/{{ image.ocp_version }}/rhcos-{{ image.ocp_version }}-{{ 'aarch64' if image.arch == 'arm64' else image.arch }}-live.{{ 'aarch64' if image.arch == 'arm64' else image.arch}}.iso"
{% else %}
      url: "{{ image.url }}"
{% endif %}
{% if not 'rootfs' in image.keys() %}
      rootFSUrl: "https://mirror.openshift.com/pub/openshift-v4/{{ image.arch }}/dependencies/rhcos/{{ version_major }}/{{ image.ocp_version }}/rhcos-{{ image.ocp_version }}-{{ 'aarch64' if image.arch == 'arm64' else image.arch }}-live-rootfs.{{ 'aarch64' if image.arch == 'arm64' else image.arch }}.img"
{% else %}
{% if image.rootfs != '' %}
      rootFSUrl: "{{ image.rootfs }}"
{% endif %}
{% endif %}
      cpuArchitecture: "{{ image.arch }}"
      version: "{{ image.version }}"
{% endfor %}
