---
{% if item.hypershift | default(false) %}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: capi-provider-role
  namespace: {{ item.ns }}
rules:
  - apiGroups:
      - agent-install.openshift.io
    resources:
      - agents
    verbs:
      - '*'
---
{% endif %}
apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: {{ item.name }}
  namespace: {{ item.ns }}
spec:
  additionalNTPSources:
{% for server in item.ntp %}
    - {{ server }}
{% endfor %}
{% if not item.hypershift | default(false) %}
  clusterRef:
    name: {{ item.cluster_name | default(item.name) }}
    namespace: {{ item.ns }}
  agentLabels:
    cluster-name: "{{ item.cluster_name | default(item.name) }}"
{% endif %}
  pullSecretRef:
    name: pull-secret-{{ item.name }}
  sshAuthorizedKey: {{ item.ssh_key | default(ocp_assisted_service_ssh_key) }}
